<div class="container-fluid">

    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 20; background-color: transparent;">
        <!-- Logo & Return to Landing Page -->
        <div class="navbar-header"> 
            <a class="navbar-brand" href="/"><i class="fas fa-paint-brush"></i> Brush</a>
        </div>

        <!-- Collapse Content Inner -->
        <div class="collapse navbar-collapse" id="navbarMenu">
            <!-- Page Tabs on the Left of the Navbar -->
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/discover">Discover</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/create">Create</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>

                <!-- Search Bar -->
                <li class="nav-item">
                    <form class="form-inline" action="/artwork/search" method="GET">
                        <div class="form-group">
                            <input id="navbar-search-bar" class="form-control mr-sm-2" type="search" name="q" placeholder="Search artwork" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>             
                        </div>
                    </form>
                </li>
            </ul>
        </div>

        <!-- Login/Logout/Register Info on the right of the Navbar (Doesn't Collapse) -->
        <ul class="nav navbar-nav navbar-right">
            <% if (!currentUser) { %>
                <li class="nav-item">
                    <li id="login-display"><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                </li>
                <li class="nav-item">
                    <li id="register-display"><a href="/register"><i class="fas fa-user-plus"></i> Sign Up</a></li>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <li id="signed-in-display"><a href="/profile/<%= currentUser.username %>"><i class="fas fa-user"><%= currentUser.username %></i></a></li>
                </li>
                <li class="nav-item">
                    <li id="logout-display"><a href="/logout"><i class="fas fa-sign-out-alt">Logout</i></a></li>
                </li> 
            <% } %>
        </ul>
        
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"> 
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>

</div>

<div class="container">
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
</div>