<%- include("./partials/header") %>

<h1 style="margin: auto; text-align: center;">
    Login
</h1>>

<form action="/login" method="POST" style="margin: auto; text-align: center; display:list-item;">
    <div style="padding: 0.5vh; margin: auto;">
        <input type="text" name="username" placeholder="username" style="">
    </div>

    <div style="padding: 0.5vh; margin: auto;">
        <input type="password" name="password" placeholder="password" style="">
    </div>

    <div>
        <button class="btn btn-primary"> Login </button>
    </div>
    
</form>

<%- include("./partials/footer") %>
