.container-fluid {
    width: 60%;
}

.container {
    background: #fff;
}

.row {
    font-family: 'Raleway', sans-serif;
}

.row a {
    text-decoration: none;
    color: inherit;
}

h6 {
    font-weight: bold;
}

.artwork-title {
    color: inherit;
}

.artwork-display-img {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.card-text {
    margin-top: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
}

.missing-attr {
    color: lightslategray;
    font-style: italic;
}

.card-text {
    text-align: center;
}

.card {
    transition: all 0.2s ease;
}

.card:hover {
    z-index: 20;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}


@media (max-width: 545px) {
    .comment-navigation-row {
        margin-bottom: 200px;
    }

    .comment-next {
        float: right;
    }
}
  
@media (min-width: 546px) {
    .comment-back {
        float: right;
    }
}
  
  