<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Brush!</title>
    <!-- Raleway Font -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main/landing.css">
</head>
<body>
    <!-- Welcome Message Header -->
    <div id="landing-header">
        <h1 id="display">
            Welcome to Brush!
        </h1>
        <a href="/home" class="button">Continue</a>
    </div>

    <!-- Stock Images Blurred Background -->
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>