html, body {
    height: 100%;
}

h1 {
    text-align: center;
}

#edit-wrapper {
    background: #fff;
    width: 80%;
    height: 100%;
    padding: 25px;
}

.back-btn-container {
    padding-bottom: 50px;
}

.container {
    background: #fff;
    width: 80%;
    overflow-y:auto;
}