.container-fluid {
    background: #fff;
    width: 80% !important;
}

.navbar {
    align-items: normal !important;
}

img {
    background-color: white !important;
}

tbody {
    font-family: 'Raleway', sans-serif;
}

.table-striped tbody tr:nth-of-type(2n) {
    background: rgb(219, 219, 219);
}