body {
    background-color: lightblue;
    font-family: 'Raleway', sans-serif;
}

#display {
    margin: auto;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 72px;
    text-shadow: 2px 2px black;
    width: 35%;
    padding: 2vh;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    border: 1px solid white;
    border-radius: 25px;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 1px 1px black;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    z-index: 1;
}

@media (max-width: 940px) {
    #display {
        font-size: 36px;
    }
}

a {
    padding: 1vh;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 30px;
    text-decoration: none;
    z-index: 10;
    background: rgb(54, 191, 255, .85);
    transition: all 0.2s ease;
}

a:hover {
    padding: 1.5vh;
    background: rgb(54, 191, 255, 1);
    border: 1px solid white;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 32px;
    text-decoration: none;
    z-index: 10;
}

.slideshow {
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite; 
    filter: blur(4px);
}

.slideshow li:nth-child(1) {
    background-image: url("../../images/kelli.jpg");
}

.slideshow li:nth-child(2) {
    background-image: url("../../images/debby-hudson.jpg");
    animation-delay: 5s;
}

.slideshow li:nth-child(3) {
    background-image: url("../../images/jen-theodore-fox.jpg");
    animation-delay: 10s; 
}

.slideshow li:nth-child(4) {
    background-image: url("../../images/kira_liya.jpg");
    animation-delay: 15s; 
}

.slideshow li:nth-child(5) {
    background-image: url("../../images/moran.jpg");
    animation-delay: 20s; 
}

.slideshow li:nth-child(6) {
    background-image: url("../../images/hello-i-m-nik.jpg");
    animation-delay: 25s; 
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}