<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail">
                <img class="rounded mx-auto d-block" src="https://wallpaperaccess.com/full/2029165.jpg" style="width: 100%;
                height:auto; margin-top: 10px; border: 1px solid black;">
                
                <div class="caption-full" style="border: 1px solid black; padding: 5px; margin-top: 10px;">
                
                    <h4><a>Name Here</a></h4>

                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        </p>
                    
                    <h4>Created by Evan on Dec 24th 2020</h4>
                </div>

                <div class="well" style="margin-top: 10px;">
                    <!-- Comment Input Field & Submit Button -->
                    <div class="text-right">
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <a class="btn btn-success">Add New Comment</a>
                    </div>

                    <hr>

                    <!-- Comment Box -->
                    <div class="col-md-12">
                        <!-- Comment Username -->
                        <strong>Arnold</strong>
                        <!-- Comment Date -->
                        <span class="pull-right">12/24/2020</span>
                        <!-- Comment Text -->
                        <p>
                            Hello There!
                        </p>
                    </div>

                    <!-- Comment Box -->
                    <div class="col-md-12">
                        <!-- Comment Username -->
                        <strong>Tyler</strong>
                        <!-- Comment Date -->
                        <span class="pull-right">12/24/2020</span>
                        <!-- Comment Text -->
                        <p>
                            Wow first!
                        </p>
                    </div>

                </div>
            
            </div>
        </div>
    </div>

</div>
